:root{
    --main-blue-color:#00f;
    --main-red-color : rgb(177, 14, 14);
    --main-black-color:  #000;
    --main-whhite-color:  #eee;

}
/* html{
    font-size: 18px;
} */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*--------------------------- Global Styling--------------------*/
a{
    text-decoration: none;
    display: inline-block;
    font-size: 20px !important ;
    /* font-weight: bold; */
}
a:hover{
    text-decoration: none;

}
ul{
    list-style: none;
}

.container{
    /* padding: 2% 8%;
    background-color: #f8f9fa; */
    position: relative;
}
/* .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

} */

/*--------------------------- /Global Styling--------------------*/

/* --------------------- Product in home Styling  --------------------
#content{ 
    margin-left: 10vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
} */
.product-holder{
    /* height: 50vh; */
    /* width: 31%;
    padding: 40px 10px; */
    /* margin:20px 5; */
    background-color: #fff;
    border-right: 0.5px solid #e2e3e4;
    /* padding-left: 20px;
    padding-top:20px ;
     */
 
}
.product-holder:hover{
    animation: moving 2s infinite;

}
.product-holder img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}
   
.product-holder .pro_name{
    color:var(--main-blue-color);
}
.product-holder .cu_code{
    color:var(--main-red-color);
    font-size: 22px;
   
    
}
.cart_hold {
    position: relative;
    
  

}
.cart_logo button{
    width: 50px;
    height: 20px;
    text-align:right;
    text-decoration: none;
    border: none;
    background-color: transparent ;
    box-shadow: none;
    outline-style: none;
    transition: all ease-in-out .6s;
    -webkit-transition:   all ease-in-out .6s;
    -moz-transition:   all ease-in-out .6s;
    -ms-transition:   all ease-in-out .6s;
    -o-transition:   all ease-in-out .6s;
  
}

.cart_logo i{
    font-size:  24px;
    color: #fff;
    background-color: rgba(148, 143, 143, 0.4);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    transition:   all ease-in-out .6s;
    -webkit-transition:   all ease-in-out .6s;
    -moz-transition:   all ease-in-out .6s;
    -ms-transition:   all ease-in-out .6s;
    -o-transition:   all ease-in-out .6s;
}


/*--------------------- /Product in home Styling  --------------------*/


/*--------------------- pagging Style  --------------------*/
/* .page{
    position: relative;
    margin-top: 50px;
} */
.pagging{
    text-align: center;
    height: 38px;
    line-height: 38px;
    /* font-weight: bold; */
    position: absolute;
    left: 0;
    right: 0;
    
}

.pagging li{
    /* border: .5px solid rgb(189, 180, 180); */
    display: inline-block;
    background-color: var(--main-whhite-color);
    width: 45px;
    margin-right:1px;
    height: 100%;
    transition: all ease-in-out .6s !important;
    -webkit-transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out .6s;
    -ms-transition: all ease-in-out .6s;
    -o-transition: all ease-in-out .6s;

}
.pagging li a{
    color:var(--main-black-color);
    text-align: center;
    width: 100%;
    display: inline-block;
    height: 100%;
    font-size: 20px;
    transition: all ease-in-out .6s !important;
    -webkit-transition: all ease-in-out .6s;
    -moz-transition: all ease-in-out .6s;
    -ms-transition: all ease-in-out .6s;
    -o-transition: all ease-in-out .6s;


}
.pagging li:hover a{
    background-color: var(--main-blue-color);
    color:var(--main-whhite-color);

}
.paggingActive{
    
    background-color: var(--main-blue-color);
    color: var(--main-whhite-color);

}
/*--------------------- /Pagging Style  --------------------*/

/*------------------- Fixed button in home style ----------------------*/
.cart h3{
    display: inline-block;

}
.cart{
    position : fixed;
    width: 300px;
    height: 55x;
    right :0;
    top: 100px;
    background-color:var(--main-blue-color);
    border: 1px solid #eee;
    border-bottom: none;
    /* border-radius: 50px; */
    text-align: center;
    color: var(--main-whhite-color);
    font-size: 25px;
    line-height: 50px;
    cursor: pointer;
    transition: all ease-in-out .6s !important;
    border-bottom-left-radius:  50px;
    border-top-left-radius:  50px;
}
.cart:hover {
color: rgb(16, 5, 75);
background-color:rgb(150, 150, 223)
}

.cart_logo:hover  button i{
    background-color: var(--main-blue-color);

}

  /*------------------- /Fixed button in home style ----------------------*/


  /*--------------------  Animation product move in home -------------------*/
 @keyframes moving{
    0%, 100%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
}
}

  /*------------------------ /Animation product move in home -------------------*/
